@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Sans_Medium";
  src: url("./assets/IBMPlexSans-Medium.ttf");
}
@font-face {
  font-family: "Sans_Light";
  src: url("./assets/IBMPlexSans-Light.ttf");
}
@font-face {
  font-family: "Bank";
  src: url("./assets/BankGothicMediumBT.ttf");
}
